.result-row {
    display: flex;
}

.name {
    display: inline-block;
    margin: 0;
    text-align: center;
    height: 60px;
    width: 250px;
    border: solid 1px black;
    line-height: 60px;;
}

.votes {
    height: 60px;
    width: calc( 100% - 400px );
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.votes img {
    height: 35px;
}